[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = RU
ST = Local
L = Local
O = MinIO
CN = minio

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = minio
IP.1 = {{DOCKER_HOST_IP}}
IP.2 = 10.0.2.2